body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.eve {
    text-align: center;
}

.event-form {
    width: 100%;
    border: 3px solid #000;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
}

.flex-container {
    display: flex;
}

.form-fields {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}

.image-container {
    flex: 1;
    max-width: 50%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.form-group {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}